div{
	text-align: center;
	font-size: 40px;
	color: black;
}

.estpf {
	display: block;
	position: absolute;
	font-family: "arial";
	font-size: 22px;
	display: block;
	line-height: 1;
	top: 32%;
	right: 8%;
	text-align: right;
}

.estpf p a{
	text-decoration-style: none;
	color: black;
}

.estpf{
	display: block;
	position: absolute;
	height: 30%;
	background: #f5f5f5;
	width: 38%;
	padding: 5px;
	box-sizing: border-box;
}

.estpf input{
font-family: "Arial";
  outline: 0;
  background: #B0E0E6;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

.estpf p{
	padding: 0;
	font-size: 17px;
	text-align: center;
	margin-top: 10px;
	line-height: 0;
}

