@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.login-page {
  width: 360px;
  padding: 8%;
  margin: auto;
}

.logoimg{
  position: center;
  width: 200px;
  padding-bottom: 20px; 
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Rancho";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

.form select {
  font-family: "Rancho";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}

button {
  font-family: "Rancho";
  text-transform: uppercase;
  outline: 0;
  background: orange;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 17px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.boton {
  font-family: "Rancho";
  text-transform: uppercase;
  outline: 0;
  background-color: orange;
  width: 100%;
  border: 0;
  padding: 17px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button: hover
.form button: active
.form button: focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: black;
  font-size: 18px;

}
.form .message a {
  color: orange;
  text-decoration: none;
  font-size: 18px;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  font-family: "Rancho";
}

/* --- REGISTRO DE DOCENTES --- */

.registro-docentes {
  position: relative;
  top: 7%;
  width: 360px;
  padding: 10%;
  margin: auto;
}

.regdocs{
  position: absolute;
  top: -12%;
}

.regdocs img{
  position: absolute;
  left: -26%;
  top: -25%;
  width: 100px;
}

.regdocs h2{
  position: absolute;
  text-align: right;
  background-color: white;
  font-size: 27px;
  width: 290px;
  padding-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 25px;
}

.backmsg{
  font-size: 25px;
}

.backmsg a{
  text-decoration: none;
  color: orange;
  font-style: italic;
}

/* --------- */